.k-header{
    height:50px;
    padding:10px 20px;
    background-color:#111111;
    margin-bottom:30px
}
.k-bpad{
    display: block;
    text-align:center;
    background:#111111;
    color:#ffffff;
    font-weight:bold;
    padding:10px;
    margin-bottom:10px;
    cursor:pointer
}

a:hover{


}
.k-bpad:hover{
    background:#0080b7;
    text-decoration: none;
    color:#ffffff
}
.k-username{
    color:#ffffff
}
.k-section{
    margin-bottom:100px
}

