{% extends "@FOSUser/layout.html.twig" %}
{% block fos_user_content %}
    <div class="row">
        <div class="col-4">
            <a href="{{ path('client_notification_create',{'device': 'tablet'})}}">
            <img class="img-fluid" src="{{asset('img/koffe1.png')}}" alt=""/>
            </a>
        </div>
         <div class="col-4">
            <a href="{{ path('client_notification_create',{'device': 'mobile'})}}">
            <img class="img-fluid" src="{{asset('img/koffe2.png')}}" alt=""/>
            </a>
        </div>
         <div class="col-4">
            <a href="{{ path('client_notification_create',{'device': 'notebook'})}}">
            <img class="img-fluid" src="{{asset('img/koffe3.png')}}" alt=""/>
            </a>
        </div>
    </div>
{% endblock fos_user_content %}