<style>
    .alert{
        position: fixed;
        bottom: 0;
        margin: 0;
        left:0;
        width: 100%;
        z-index: 100;
    }
</style>

{% for flash_message in app.session.flashbag.get('succes') %}
    <div class="alert alert-success alert-dismissable" >
        <div class="container">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Sukces!</strong>{{ flash_message }}
        </div>
    </div> 
{% endfor %}
{% for flash_message in app.session.flashbag.get('error') %}
    <div class="alert alert-danger alert-dismissable" >           
        <div class="container">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Błąd!</strong> {{ flash_message }}
        </div>
    </div> 
{% endfor %}
{% for flash_message in app.session.flashbag.get('info') %} 
    <div class="alert alert-info alert-dismissable" >
        <div class="container">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Info!</strong> {{ flash_message }}
        </div>
    </div> 
{% endfor %}
{% for flash_message in app.session.flashbag.get('warning') %}
    <div class="alert alert-warning alert-dismissable" >
        <div class="container">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Uwaga</strong> {{ flash_message }}
        </div>
    </div> 
{% endfor %}


