{% extends "@FOSUser/layout.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ form_start(form) }}
                <div class="float-right">
                    <button type="submit" class="btn btn-primary disabled btn-sm rounded-s">
                        <i class="fa fa-spinner fa-spin " aria-hidden="true"></i>
                        Save
                    </button> 
                    <a href="{{ path('client_notification_index') }}" class="btn btn-secondary btn-sm rounded-s">
                        Cancel
                    </a> 
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock fos_user_content %}