<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <div class="k-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <img class="img-fluid" style="max-height:30px" src="{{ asset('img/logo_white.png') }}" alt=""/>
                        </div>
                        <div class="col-6">
                            <div class="float-right k-username">
                                <h4>KOFFECUP TASK 1</H4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="k-section">
            <div class="container">
                <div class="row">
                    <div class="col-12" style="margin-bottom:100px">
                        <div>
                            {% block fos_user_content %}
                                {{ include('@FOSUser/Security/login_content.html.twig') }}
                            {% endblock fos_user_content %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>This application was created only for recruitment purposes. The use of the application and its elements such as the logo or code for purposes other than the recruitment of the creator is prohibited.</p>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>


