<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <div class="k-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <img class="img-fluid" style="max-height:30px" src="{{ asset('img/logo_white.png') }}" alt=""/>
                        </div>
                        <div class="col-6">
                            <div class="float-right k-username">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    {{  app.user.username }} |
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        {{ 'Logout'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                {% else %}
                                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="k-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3">
                        <div class="sidebar">
                            <a class="k-bpad" href="{{ path('fos_user_profile_show')}}">Profile</a>
                            <a class="k-bpad" href="{{ path('fos_user_profile_edit')}}">Edit account</a>
                            {% if is_granted('ROLE_ADMIN')  -%}
                                <a class="k-bpad" href="{{ path('employee_notification_index')}}">Orders</a>
                            {% elseif is_granted('ROLE_USER') -%}
                                <a class="k-bpad" href="{{ path('client_notification_index')}}">My orders</a>
                                <a class="k-bpad" href="{{ path('client_notification_create',{'device': null})}}">New order</a>
                                {%- endif %}
                            </div>
                        </div>
                        <div class="col-9">
                            {% if app.request.hasPreviousSession %}
                                {% for type, messages in app.session.flashbag.all() %}
                                    {% for message in messages %}
                                        <div class="flash-{{ type }}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                            <div>
                                {% block fos_user_content %}
                                {% endblock fos_user_content %}
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <p>This application was created only for recruitment purposes. The use of the application and its elements such as the logo or code for purposes other than the recruitment of the creator is prohibited.</p>
                        </div>
                    </div>
                </div>
            </section>
        </body>
    </html>
