{% extends "@FOSUser/layout.html.twig" %}
{% set loopFix = ((pagination.getCurrentPageNumber * pagination.getItemNumberPerPage) - pagination.getItemNumberPerPage) %}
{% block fos_user_content %}
    <article class="content  item-editor-item">
        {% include 'flashMessages.html.twig' %}
        <div class="title-block">
            <h3 class="title">
                Orders 
            </h3>
        </div>
        <section class="section">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-block nom-nop">
                            <div class="table-responsive">
                                <table class="table  table-bordered table-striped table-hover nom-nop index-table">
                                    <thead>
                                        <tr>
                                            <th class="small-th">No</th>
                                            <th>Title</th>
                                            <th style="width:100px" class="control-th">Status</th>
                                            <th style="width:100px" class="control-th">Employee</th>
                                            <th style="width:100px" class="control-th"></th>
                                            <th style="width:100px" class="control-th"></th>
                                            <th style="width:100px" class="control-th"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in pagination %}
                                            <tr>
                                                <td>{{ loop.index + loopFix}}.</td>
                                                <td>{{ item.title }}</td>
                                                <td>{{ item.status ? item.status:"" }}</td>
                                                <td>{{ item.employee ? item.employee.username:'noone' }}</td>
                                                <td >
                                                    <div class="btn-group">
                                                        <a href="{{ path('employee_notification_show', {'id': item.id}) }}" class="btn  btn-info">Show</a>
                                                    </div>
                                                </td>
                                                <td >
                                                    <div class="btn-group">
                                                        <a href="{{ path('employee_notification_edit', {'id': item.id}) }}" class="btn  btn-primary">Edit</a>
                                                    </div>
                                                </td>
                                                <td >
                                                    <div class="btn-group">
                                                        <a  href="{{ path('employee_notification_remove', {'id': item.id}) }}" class="btn btn-danger">Remove</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>  
    </article>
{% endblock fos_user_content %}
