{% extends "@FOSUser/layout.html.twig" %}
{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
               <h3>Data in JSON</h3>
               {{json}}
            </div>
        </div>
    </div>
{% endblock fos_user_content %}